<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="9" android:versionName="1.33" package="processing.test.lietuvos_istorijos_viktorina"><uses-sdk android:minSdkVersion="9"/><application android:debuggable="true" android:icon="@drawable/icon" android:label="Lietuvos istorijos viktorina"><activity android:name=".Lietuvos_istorijos_viktorina"><intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter></activity><activity 
    android:name="com.appflood.AFPanelActivity" 
    android:configChanges="keyboardHidden">
</activity> 

<activity
    android:name="com.appflood.AFFullScreenActivity" 
    android:configChanges="keyboardHidden|orientation" 
    android:theme="@android:style/Theme.Translucent" 
    android:launchMode="singleTask">
</activity>

<activity
    android:name="com.appflood.AFListActivity" 
    android:configChanges="keyboardHidden|orientation" 
    android:launchMode="singleTask" 
    android:theme="@android:style/Theme.Translucent" >
    <intent-filter>
        <action android:name="" /> 
    </intent-filter>
</activity>

<activity
    android:name="com.appflood.AFInterstitialActivity" 
    android:configChanges="keyboardHidden|orientation" 
    android:launchMode="singleTask" 
    android:screenOrientation="portrait" 
    android:theme="@android:style/Theme.Translucent" >
</activity></application><uses-permission android:name="android.permission.VIBRATE"/><uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/><uses-permission android:name="android.permission.INTERNET"/></manifest>